<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>New GFD page</h1>
    <form action="/drinks" method="POST">
      Name: <input type="text" name="name" /><br />
      Image: <input type="text" name="image" /><br />
      Website: <input type="text" name="website" /><br />
      ABV: <input type="number" name="ABV" /><br />
      Description: <input type="text" name="Description" /><br />
      Flavors: <input type="text" name="flavors" /><br />
      Locator: <input type="text" name="locator" /><br />
      <input type="submit" name="" value="Create GFD" />
    </form>
  </body>
</html>
